DATABASE_URL=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

SOLANA_RPC_URL=
SOLANA_NETWORK=devnet
SOLANA_USDC_MINT=
SOLANA_USDT_MINT=
QUICKNODE_WEBHOOK_SECRET=
QUICKNODE_WEBHOOK_MAX_SKEW_SECONDS=300
